:root {
    --theme-color: #fff;
    background-color: #222;
    background-size: 100%;
}

#header {
    background-image: url("/assets/mandelbrot-6-zoom.png");
}

#header h2 {
    padding-top: calc(var(--header-height) + 24pt);
}

#content {
    padding-top: calc(calc(var(--header-height) / 2) + 24px);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid a {
    background-color: white;
    color: black;
    margin: 6px;
    border-radius: 12px;
    
}

.grid img {
    width: calc(100% - 12px);
    border-radius: 6px;
    margin: 6px;
}

.grid label {
    text-align: center;
    display: block;
    font-size: 24pt;
}