:root {
    --theme-color: #fff;
    background-color: #222;
    background-size: 100%;
}

#header {
    background-image: url("/assets/mandelbrot-6-zoom.png");
}

#header h2 {
    padding: 0;
}