:root {
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    color: var(--theme-color);
}

#header {
    width: calc(calc(4 / 3) * 100vh);
}

#titlefsite {
    text-align: center;
    align-items: flex-start;
    /*font-family: 'Lucida Sans';*/
    font-size: 100px;
    margin-top: 80px;
    margin-bottom: 50px;
}

#navigation {
    position: fixed;
    display: block;
    margin: 0 auto;
    top: 12px;
    width: 100%;
    z-index: 1;
}

#content {
    width: calc(calc(4 / 3) * 100vh);
    display: block;
    margin: 0 auto;
    padding-left: 12pt; padding-right: 12pt;
}

#content p {
    display: inline-block;
}

#navigation {
    position: fixed;
    display: block;
    margin: 0 0;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: #999c;
}

#navigation ul {
    list-style-type: none;
    margin: 0 auto;
    width: auto;
    padding: 0;
    overflow: hidden;
    display: block;
    text-align:center;
}

#navigation ul li:not(#navigation #left-panel ul li) {
    background-color: #1110;
    margin: 6px 0px;
    padding: 0;
    display: inline-block;
}

#navigation ul li a {
    display: block;
    color: black;
    border-radius: 12px;
    text-align: center;
    padding: 14px 16px;
    height: 20px;
    text-decoration: none;
}

#navigation ul li a:link, #navigation ul li a:visited {
    background-color: #333;
    /*background-image: linear-gradient(to right, #444 , #222);*/
    color: white;
}

#navigation ul li a.active:link, #navigation ul li a.active:visited {
    background-color: white;
    /*background-image: linear-gradient(to right, #ddd , #aaa);*/
    color: black;
}

#navigation ul li a:hover {
    background-color: #555;
    /*background-image: linear-gradient(to right, #666 , #333);*/
    color: white;
}

#navigation ul li a.active:hover {
    background-color: #aaa;
    /*background-image: linear-gradient(to right, #bbb , #888);*/
    color: black;
}

#navigation ul li a:active {
    background-color: #111;
    /*background-image: linear-gradient(to right, #222 , #111);*/
    color: white;
}

#navigation ul li a.active:active {
    background-color: #ddd;
    /*background-image: linear-gradient(to right, #fff , #bbb);*/
    color: black;
}

#footer {
    width: 100%;
}

#footer p {
    width: calc(calc(4 / 3) * 100vh);
    text-align: center;
    margin: 6px auto;
    display: block;
    padding: 12px 0;
    background-color: var(--theme-color);
    color: black;
    border-radius: 12px; /* rounded corners */
}