:root {
    --theme-color: #fff;
    --background: #110010;
    --background-secondary: #330030;
    --primary: #60cfff;
    --secondary: #210426;
    --accent: #8de9d3;
    background-color: var(--background);
    background-size: 100%;
    color: var(--theme-color);
}

::selection {
    background-color: var(--accent);
    color: #000;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: var(--accent);
    color: #000;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: var(--accent);
    color: #000;
}

::-ms-selection {
    background-color: var(--accent);
    color: #000;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: var(--accent);
    color: #000;
}

#header {
    background-image: url("/assets/mandelbrot-6-zoom.png");
}

#header h2 {
    padding-top: calc(var(--header-height) + 24pt);
}

#content {
    padding-top: calc(calc(var(--header-height) / 2) + 24px);
}


/* https://www.w3schools.com/howto/howto_js_collapsible.asp */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    font-family: Helvetica, sans-serif;
    background-color: var(--primary);
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12pt;
    font-weight: bold;
    margin-top: 4px;
    transition: background-color 0.2s linear;
    border-radius: 12px;
    transition: border-radius 0.2s ease-in-out;
}

/* Add a background color to the button if it is clicked on (add the .revealed class with JS), and when you move the mouse over it (hover) */
.revealed {
    background-color: var(--accent);
    border-radius: 12px 12px 0 0;
    transition: background-color 0.2s linear;
    transition: border-radius 0.2s ease-in-out;
}

.collapsible:hover {
    background-color: var(--accent);
    transition: background-color 0.2s linear;
    transition: border-radius 0.2s ease-in-out;
}

.revealed:hover {
    background-color: #fff;
    transition: background-color 0.2s linear;
    transition: border-radius 0.2s ease-in-out;
}

.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.revealed:after {
    content: "\2212";
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 4px;
    border-radius: 00 0 12px 12px;
}