:root {
    --theme-color: #fff;
    --alt-color: #222;
    background-color: var(--alt-color);
    color: var(--theme-color);
    background-size: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    --header-title-padding: 12pt;
    --header-title-side-padding: 14pt;
    --header-title-textsixe: 48pt;
    --text-padding: 12pt;
    --text-top-padding: 0pt;
}

body {
    margin: 0px;
}

/*#container {
    width: 100vw;
}*/

#header {
    color: var(--alt-color);
    background-color: var(--theme-color);
}

.lefty {
    width: calc(50vw + 0.5 * (min(calc(min(90vw, max(80vw, 720px)) - calc(100vw - max(80vw, 720px))), 90vw)) - var(--text-padding) / 2); /* was:calc(calc(4 / 3) * 100vh). This now is a mean for style reasons*/
    display: block;
    float: left;
    background-size: cover;
    margin: 0;
    padding: 0 calc(var(--text-padding) / 2);
    border-right: 2px solid var(--theme-color);
    border-top: 2px solid var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
    border-radius: 0 12px 12px 0;
}

.righty {
    width: calc(50vw + 0.5 * (min(calc(min(90vw, max(80vw, 720px)) - calc(100vw - max(80vw, 720px))), 90vw)) + var(--text-padding) / 2);
    display: block;
    float: right;
    background-size: cover;
    padding: 0;
    margin: 0;
    border-left: 2px solid var(--theme-color);
    border-top: 2px solid var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
    border-radius: 12px 0 0 12px;
}

.lefty * {
    padding-left: calc(((100vw - min((min(90vw, max(80vw, 720px)) - (100vw - max(80vw, 720px))), 90vw)) / 2) + var(--text-padding) / 2);
    padding-right: var(--text-padding);
    padding-top: var(--text-top-padding);
    padding-bottom: var(--text-top-padding);
}

.righty * {
    padding-top: var(--text-top-padding);
    padding-right: calc(((100vw - min((min(90vw, max(80vw, 720px)) - (100vw - max(80vw, 720px))), 90vw)) / 2) + var(--text-padding) / 2);
    padding-bottom: var(--text-top-padding);
    padding-left: var(--text-padding);
}

#header h1 {
    font-size: var(--header-title-textsixe);
    display: block;
    padding: var(--header-title-padding) var(--header-title-side-padding);
    margin: 0;
    width: calc(50vw + 0.5 * (min(calc(min(90vw, max(80vw, 720px)) - calc(100vw - max(80vw, 720px))), 90vw)) - var(--text-padding) / 2 - calc(((100vw - min((min(90vw, max(80vw, 720px)) - (100vw - max(80vw, 720px))), 90vw)) / 2) + var(--text-padding) / 2));
}

#navigation {
    display: block;
    margin: 8px auto;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: 1;
    overflow: hidden;
}

#navigation ul {
    list-style-type: none;
    margin: 0 auto;
    display: block;
    width: auto;
    padding: 0;
    overflow: hidden;
    text-align:center;
}

#navigation ul li {
    background-color: #1110;
    margin: 6px 3px;
    padding: 0;
    display: inline-block;
}

#navigation ul li a {
    display: block;
    color: black;
    border-radius: 12px;
    text-align: center;
    padding: 14px 16px;
    height: 20px;
    text-decoration: none;
}

#navigation ul li a:link, #navigation ul li a:visited {
    background-color: #333;
    /*background-image: linear-gradient(to right, #444 , #222);*/
    color: white;
}

#navigation ul li a.active:link, #navigation ul li a.active:visited {
    background-color: white;
    /*background-image: linear-gradient(to right, #ddd , #aaa);*/
    color: black;
}

#navigation ul li a:hover {
    background-color: #555;
    /*background-image: linear-gradient(to right, #666 , #333);*/
    color: white;
}

#navigation ul li a.active:hover {
    background-color: #aaa;
    /*background-image: linear-gradient(to right, #bbb , #888);*/
    color: black;
}

#navigation ul li a:active {
    background-color: #111;
    /*background-image: linear-gradient(to right, #222 , #111);*/
    color: white;
}

#navigation ul li a.active:active {
    background-color: #ddd;
    /*background-image: linear-gradient(to right, #fff , #bbb);*/
    color: black;
}

#content {
    margin: 16px 0;
    color: var(--theme-color);
    background-color: var(--alt-color);
    height: calc( 100vh - calc(calc(calc(var(--header-title-padding) * 2) + var(--header-title-textsixe)) + calc(calc(2 * var(--text-top-padding)) + 180px)));
    overflow-y: auto;
    scrollbar-width: 10px; /* Works on Firefox */
    scrollbar-color: #fff #222;
    scroll-margin: 20px;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
    background-color: var(--alt-color);
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track-piece {
    margin: 20px;
}

#content p {
    display: inline-block;
}

#content p a:link {
    color: white;
}

#content p a:hover {
    color: #bbb;
}

#content p a:active {
    color: white;
}

#content p a:visited {
    color: white;
}

#footer {
    position: fixed;
    bottom: 6pt;
    margin: 4px 0;
    padding: 0;
    z-index: 1;
}

#footer p {
    width: min(calc(min(90vw, max(80vw, 720px)) - calc(100vw - max(80vw, 720px))), 90vw);
    text-align: center;
    margin: 0 calc(((100vw - min((min(90vw, max(80vw, 720px)) - (100vw - max(80vw, 720px))), 90vw)) / 2) - var(--text-padding) / 2);
    display: block;
    padding: 12px calc(var(--text-padding)/2);
    background-color: var(--theme-color);
    color: var(--alt-color);
    border-radius: 12px; /* rounded corners */
    border: 1px solid var(--theme-color);
}

#footer-spacer {
    color: var(--alt-color);
    background-color: var(--alt-color);
    margin: 4px 0 6px 0;
    padding: 0;
    z-index: -1;
}

#footer-spacer p {
    width: min(calc(min(90vw, max(80vw, 720px)) - calc(100vw - max(80vw, 720px))), 90vw);
    text-align: center;
    margin: 0 calc(((100vw - min((min(90vw, max(80vw, 720px)) - (100vw - max(80vw, 720px))), 90vw)) / 2) - var(--text-padding) / 2);
    display: block;
    padding: 12px calc(var(--text-padding)/2);
    border: 1px solid var(--alt-color);
}